<h2 class="text-xl tracking-wide">{{ listTitle() }}</h2>
<ul class="list bg-base-100 rounded-box shadow-md">
  @for (character of characters(); track character.id; let idx = $index) {
    @if (character.power < 5001) {
      <li class="list-row">
        <div class="text-4xl font-thin opacity-30 tabular-nums text-red-500">
          {{ idx + 1 }}
        </div>

        <div class="list-col-grow text-red-500">
          <div>{{ character.name }}</div>
          <div class="text-xs uppercase font-semibold opacity-60 text-red-500">
            {{ character.power }}
          </div>
        </div>
      </li>
    } @else if (character.power < 9001) {
      <li class="list-row">
        <div class="text-4xl font-thin opacity-30 tabular-nums">
          {{ idx + 1 }}
        </div>

        <div class="list-col-grow">
          <div>{{ character.name }}</div>
          <div class="text-xs uppercase font-semibold opacity-60">
            {{ character.power }}
          </div>
        </div>
      </li>
    } @else {
      <li class="list-row">
        <div class="text-4xl font-thin opacity-30 tabular-nums text-blue-500">
          {{ idx + 1 }}
        </div>

        <div class="list-col-grow text-blue-500">
          <div>{{ character.name }}</div>
          <div class="text-xs uppercase font-semibold opacity-60 text-blue-500">
            {{ character.power }}
          </div>
        </div>
      </li>
    }
  } @empty {
    <p class="text-accent text-xl mt-2">No hay personajes, intente agregar nuevos personajes</p>
  }
</ul>
